In [1]:
# Datatype and variables

In [2]:
num = 2780 # Assigning an integer to a variable
print (num)
num = -1625 # Assigning a new integer
print (num)

2780
-1625

In [3]:
print (2.02975745) # A positive float
print (-5.7289201) # A negative float

flt_pt = 0.758391739
print (flt_pt)

2.02975745
-5.7289201
0.758391739

In [4]:
print(complex(10, 20))

complex_1 = complex(0, 2)
complex_2 = 2 + 3j
print(complex_1)
print(complex_2)

(10+20j)
2j
(2+3j)

In [5]:
z  = complex(12, 5)
print('z =', z)

print("Real part of z is", z.real)
print("Imaginary part of z is", z.imag)

z = (12+5j)
Real part of z is 12.0
Imaginary part of z is 5.0

In [6]:
print (True)

f_bool = False
print (f_bool)

True
False

In [7]:
print ("Edpresso") # String with double quotation marks

edu = 'Educative' # String with single quotation marks
print (edu) 

empty = ""  # Empty string
print(empty)

Edpresso
Educative

In [8]:
superman = "Clark Kent"

first = superman[0] # Accessing the first character
print (first) 

space = superman[5] # Accessing the empty space in the string
print (space) 

last = superman[len(superman) - 1]
print (last)

# err = superman[len(superman)] This will produce an error since the index is out of bounds

C

t

In [9]:
# Operators

In [10]:
# Different precendence
print ("10 - 3 * 2 =", 10 - 3 * 2) # Multiplication computed first, followed by subtraction

# Same precedence
print ("3 * 20 / 5 =", 3 * 20 / 5) # Multiplication computed first, followed by division

# Using Parenthesis
print ("(10 - 3) * 2 =", (10 - 3)  * 2) # subtraction computed first, followed by multiplication

10 - 3 * 2 = 4
3 * 20 / 5 = 12.0
(10 - 3) * 2 = 14

In [11]:
x = 5
y = 10
z = 10
print("y > x =",y > x) # 10 is greater than 5
print("x > y =", x > y) # 5 is not greater than 10

print("y is z =", y is z) # Both have the same value
print("y is not x =", y is not x) # Both have different values

print (3 + 10 == 5 + 5) # Both are not equal
print (3 <= 2) # 3 is not less than or equal to 2

y > x = True
x > y = False
y is z = True
y is not x = True
False
False

In [12]:
# logical operators

# OR Expression
my_bool = True or False
print (my_bool)

# AND Expression
my_bool = True and False
print (my_bool) 

# NOT expression
my_bool = False
print (not my_bool)

True
False
True

In [13]:
# Conditional Statements

In [14]:
num = 10

if num == 10: # The condition is true
  print ("The number is equal to 10") # The code is executed

if num > 10: # The condtion is false
  print ("The number is greater than 10") # The code is not executed

The number is equal to 10

In [15]:
num = 72

if num % 2 == 0 and num % 3 == 0 and num % 4 == 0 :
    # Only works when num is a multiple of 2, 3, and 4
    print ("The number is a multiple of 2, 3, and 4")
    
    # This nested if only works when num is a multiple of 2, 3, 4 and 6
    if num % 6 == 0:
        print ("The number is also a multiple of 6")

The number is a multiple of 2, 3, and 4
The number is also a multiple of 6

In [16]:
num = 12

if (num == 10): # The condition is not true
  print ("The number is equal to 10") # The code is not executed

else:   # This will be automatically executed 
  print ("The number is not equal to 10") # The code is executed

The number is not equal to 10

In [17]:
# Loops

In [18]:
for i in range(1, 11): # A sequence from 1 to 10
  if i % 2 == 0:
    print (i, " is even")
  else:
    print (i, " is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

In [19]:
# looping throuh lists

int_list = [2, 4, 6, 8, 10]
print (int_list)

for i in range(len(int_list)): # Iterator goes traverses to the last index of the list
  int_list[i] = int_list[i] ** 2

print(int_list)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

In [20]:
int_list = [22, 4, 64, 8, 100]
count_greater = 0

for num in int_list: # Iterator goes traverses to the last index of the list
  if num > 10:
    count_greater += 1

print (count_greater)

3

In [21]:
num_list = [10, 4, 8, 6, 18, 27, 9]

for n1 in num_list:
  for n2 in num_list: # Now we have two iterators
    if(n1 * 2 == n2):
      print(n1, n2)

4 8
9 18

In [22]:
# While Loops

n = 3 # Could be any number
power = 0
val = n
while val < 1000:
  power += 1
  val *= n
print (power)

6

In [23]:
# Functions

In [24]:
# Function Declaration

def minimum (first, second):     # first and second are parameters
  if (first < second):   
    print (first)
  else:
    print (second)

num1 = 10
num2 = 20

minimum (num1, num2)    # num1 and num2 are arguments

10

In [25]:
# Using default value for the parameter

def add(num1, num2, num3, num4=4, num5=5):   # num4 and num5 are optional
  return num1 + num2 + num3 + num4 + num5

print(add(1, 2, 3))   # specifying values of num1, num2 and num3
print(add(1, 2, 3, -4))   # specifying values of num1, num2, num3 and num4
print(add(1, 2, 3, -4, -5))   # specifying values of num1, num2, num3, num4 and num5

15
7
-3

In [26]:
# Returning from Functions

def minimum (first, second):
  if (first < second):
    return first
  else:
    return second

num1 = 10
num2 = 20

result = minimum (num1, num2) # Storing the value returned by the function
print (result)

10

In [27]:
# Scope

# !!! this code will not work 
"""
def func():
    name = "Educative"

func()
print (name) # Accessing 'name' outside the function 
"""

'\ndef func():\n    name = "Educative"\n\nfunc()\nprint (name) # Accessing \'name\' outside the function \n'

In [28]:
# Changing parameter values

num_list = [10, 20, 30, 40]
print (num_list)

def multiply_by_10(myList):
    for i in range(len(myList)):
        num_list[i] *= 10

multiply_by_10(num_list)
print (num_list) # The contents of the list have been changed

[10, 20, 30, 40]
[100, 200, 300, 400]

In [29]:
# Lamdas - Syntax : lambda parameters: expression

In [30]:
square = lambda num: num ** 2 # Assigning the lambda to a variable
print (square(10)) # Calling the lambda and giving it a parameter

100

In [31]:
concat_strings = lambda a, b, c: a[0] + b[0] + c[0]

print (concat_strings("Quantum", "Information", "Science"))

QIS

In [32]:
def calculator (operation, n1, n2):
  return operation(n1, n2) # Using the 'operation' argument as a function

# 10 and 20 are the arguments.
# The lambda multiplies them.
result = calculator(lambda n1, n2: n1 * n2, 10, 20) 

print (result)

# 10 and 20 are the arguments.
# The lambda adds them.
print (calculator(lambda n1, n2: n1 + n2, 10, 20))

# 10 and 3 are the arguments.
# The lambda computes 10^3
print (calculator(lambda n1, n2: n1 ** n2, 10, 3))

200
30
1000

In [33]:
# Lists

In [34]:
science = ["Physics", "Chemistry", 30]
print (science)

# Indexing is done using square brackets
print (science[0])

# Length
print (len(science))

['Physics', 'Chemistry', 30]
Physics
3

In [35]:
world_cup_winners = [[2006, "Italy"], [2010, "Spain"], [2014, "Germany"], [2018, "France"]]
print (world_cup_winners)
print (world_cup_winners[1])
print (world_cup_winners[1][0])

[[2006, 'Italy'], [2010, 'Spain'], [2014, 'Germany'], [2018, 'France']]
[2010, 'Spain']
2010

In [36]:
part_A = [1, 2, 3, 4, 5]
part_B = [6, 7, 8, 9, 10]
merged_list = part_A + part_B
print (merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
lst = [1, 3, 5]
print(lst)

# print after append
print("List after append:")
lst.append(7)
print(lst)

[1, 3, 5]
List after append:
[1, 3, 5, 7]

In [38]:
# List comprehension

In [39]:
nums = [1, 2, 3, 4, 5]
nums_square = []

for n in nums:
  nums_square.append(n ** 2)

print (nums)
print (nums_square)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [40]:
M = [[], [], [], [], []]

for m in range(5):
  for n in range(5): 
    M[m].append(n + m * 20)
   
print(M)

[[0, 1, 2, 3, 4], [20, 21, 22, 23, 24], [40, 41, 42, 43, 44], [60, 61, 62, 63, 64], [80, 81, 82, 83, 84]]

In [41]:
M = [[(n + m * 20) for n in range(5)] for m in range(5)]

print(M)

[[0, 1, 2, 3, 4], [20, 21, 22, 23, 24], [40, 41, 42, 43, 44], [60, 61, 62, 63, 64], [80, 81, 82, 83, 84]]

In [42]:
# Immutable Tuples
car = ("Ford", "Raptor", 2019, "Red")
print (car)

# Length
print (len(car))

# Indexing is done using square brakcers
print (car[1])

('Ford', 'Raptor', 2019, 'Red')
4
Raptor

In [43]:
hero1 = ("Superman", "Clark Kent")
hero2 = ("Aquaman", "Arthur Curry")
awesome_team = (hero1, hero2)
print (awesome_team)

(('Superman', 'Clark Kent'), ('Aquaman', 'Arthur Curry'))

In [44]:
hero1 = ("Superman", "Clark Kent")
hero2 = ("Aquaman", "Arthur Curry")
awesome_team = hero1 + hero2
print (awesome_team)

('Superman', 'Clark Kent', 'Aquaman', 'Arthur Curry')

In [45]:
# Dictionary

In [46]:
empty_dict = {} # Empty dictionary
print (empty_dict)

phone_book = {"Batman": 428426, 
              "Superman": 28918398, 
              "Flash": 8198318}
print (phone_book)

{}
{'Batman': 428426, 'Superman': 28918398, 'Flash': 8198318}

In [47]:
phone_book = {"Batman": 428426, 
              "Superman": 28918398, 
              "Flash": 8198318}
            
print (phone_book["Batman"])
print (phone_book.get("Flash"))

428426
8198318

In [48]:
phone_book = {"Batman": 428426, 
              "Superman": 28918398, 
              "Flash": 8198318}
            
print (phone_book)
phone_book["Aquaman"] = 4209211 
print (phone_book)

{'Batman': 428426, 'Superman': 28918398, 'Flash': 8198318}
{'Batman': 428426, 'Superman': 28918398, 'Flash': 8198318, 'Aquaman': 4209211}

In [49]:
phone_book = {"Batman": 428426, 
              "Superman": 28918398, 
              "Flash": 8198318}
            
print (phone_book)
phone_book["Batman"] = 4209211 
print (phone_book)

{'Batman': 428426, 'Superman': 28918398, 'Flash': 8198318}
{'Batman': 4209211, 'Superman': 28918398, 'Flash': 8198318}

In [50]:
phone_book = {"Batman": 428426, 
              "Superman": 28918398, 
              "Flash": 8198318}
            
if "Batman" in phone_book:
  print ("Gotham is saved.")
else:
  print ("Gotham is in danger.")

if "Aquaman" in phone_book:
  print ("Atlantis is saved.")
else:
  print ("Atlantis is in danger.")

Gotham is saved.
Atlantis is in danger.

In [51]:
# Check Sum Excercise

def check_sum(num_list, num):
  for first_num in range(len(num_list)):
    for second_num in range(first_num + 1, len(num_list)):
      if num_list[first_num] + num_list[second_num] == num:
        return True
  return False

num_list = [10, -14, 26, 5, -3, 13, -5]
print (check_sum(num_list, -8))

# The function checks if num is equal to sum of any two numbers in the list

True