In [1]:
2*2

4

In [3]:
In[1]

'2*2'

In [4]:
Out[1]

4

In [5]:
In

['', '2*2', 'ln[1]', 'In[1]', 'Out[1]', 'In']

In [6]:
Out

{1: 4, 3: '2*2', 4: 4, 5: ['', '2*2', 'ln[1]', 'In[1]', 'Out[1]', 'In', 'Out']}

In [7]:
1 + 2

3

In [8]:
x = 1 ; # Output blocked by ;

In [9]:
2

2

In [10]:
# import os : Autocompletion and Object Introspection

In [12]:
import math 
math.cos?

In [16]:
# File navigation 
# !dir (Windows)
# !ls (Unix)

In [24]:
def fib(n):
    
     """
     Return a list of the first n Fibonacci numbers.
     """
        
     f0, f1 = 0, 1
     f = [1] * n
        
     for i in range(1, n):
         f[i] = f0 + f1
         f0, f1 = f1, f[i]
        
     return f

print(fib(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [8]:
# Debugger

# fib(1.0)

In [ ]:
%debug

> <magic-timeit>(1)inner()

In [ ]:
# %reset

"""
The %reset command provides this 
functionality (use the flag –f to force the reset). Using this command can often eliminate the need for 
otherwise common exit–restart cycles of the console. Although it is necessary to reimport modules after 
the %reset command has been used, it is important to known that even if the modules have changed since 
the last import, a new import after a %reset will not import the new module but rather reenable a cached 
version of the module from the previous import. When developing Python modules, this is usually not the 
desired behavior. In that case, a reimport of a previously imported (and since updated) module, can often be 
achieved by using the dreload function.

"""

In [3]:
# %timeit fib(100)

In [4]:
#  %time result = fib(100)

In [6]:
import numpy as np
def random_walker_max_distance(M, N):
    """
     Simulate N random walkers taking M steps, and return the largest distance
     from the starting point achieved by any of the random walkers.
     """
    trajectories = [np.random.randn(M).cumsum() for _ in range(N)]
    return np.max(np.abs(trajectories))

In [7]:
 %prun random_walker_max_distance(400, 10000)

# 1. The Numpy Array Object

In [13]:
# The numpy array object

import numpy as np
data = np.array([[1, 2], [3, 4], [5, 6]])
type(data)

numpy.ndarray

In [3]:
"""
shape A tuple that contains the number of elements (i.e., the length) for each dimension (axis) 
of the array.
size The total number of elements in the array.
ndim Number of dimensions (axes).
nbytes Number of bytes used to store the data.
dtype The data type of the elements in the array
"""

'\nshape A tuple that contains the number of elements (i.e., the length) for each dimension (axis) \nof the array.\nsize The total number of elements in the array.\nndim Number of dimensions (axes).\nnbytes Number of bytes used to store the data.\ndtype The data type of the elements in the array\n'

In [4]:
data

array([[1, 2],
       [3, 4],
       [5, 6]])

In [6]:
data.ndim

2

In [7]:
data.shape

(3, 2)

In [9]:
data.size

6

In [10]:
data.size

6

In [11]:
data.nbytes

24

In [12]:
"""
int int8, int16, int32, int64 Integers.
uint uint8, uint16, uint32, uint64 Unsigned (non-negative) integers.
bool bool Boolean (True or False).
float float16, float32, float64, float128 Floating-point numbers.
complex complex64, complex128, complex256 Complex-valued floating-point numbers.
"""

'\nint int8, int16, int32, int64 Integers.\nuint uint8, uint16, uint32, uint64 Unsigned (non-negative) integers.\nbool bool Boolean (True or False).\nfloat float16, float32, float64, float128 Floating-point numbers.\ncomplex complex64, complex128, complex256 Complex-valued floating-point numbers.\n'

In [14]:
# Data Types

In [18]:
data = np.array([1, 2, 3], dtype=float)
data

array([1., 2., 3.])

In [19]:
data.dtype

dtype('float64')

In [20]:
# Complex Numbers

In [26]:
d1 = np.array([1, 2, 3], dtype=float)
d2 = np.array([1, 2, 3], dtype=complex)
d1 + d2

array([2.+0.j, 4.+0.j, 6.+0.j])

In [27]:
(d1 + d2).dtype

dtype('complex128')

In [32]:
data = np.array([1, 2, 3], dtype=complex)
print("Data : ",data)
print("Real Part : ",data.real)
print("Imaginary Part : ",data.imag)

Data :  [1.+0.j 2.+0.j 3.+0.j]
Real Part :  [1. 2. 3.]
Imaginary Part :  [0. 0. 0.]

# Creating Arrays

In [34]:
np.array([1, 2, 3, 4])
data.ndim

1

In [39]:
new_array = np.array([[1, 2], [3, 4]])

In [40]:
new_array.ndim

2

In [41]:
new_array.shape

(2, 2)

In [42]:
np.arange(0.0, 10, 1)

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [43]:
np.linspace(0, 10, 11)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [44]:
np.logspace(0, 2, 5)

array([  1.        ,   3.16227766,  10.        ,  31.6227766 ,
       100.        ])

In [47]:
# Meshgrid Arrays
x = np.array([-1, 0, 1])
y = np.array([-2, 0, 2])
X,Y = np.meshgrid(x, y)

In [48]:
X

array([[-1,  0,  1],
       [-1,  0,  1],
       [-1,  0,  1]])

In [49]:
Y

array([[-2, -2, -2],
       [ 0,  0,  0],
       [ 2,  2,  2]])

In [50]:
Z = (X + Y) ** 2
Z

array([[9, 4, 1],
       [1, 0, 1],
       [1, 4, 9]], dtype=int32)

In [51]:
# Creating Uninitialized Arrays
np.empty(3, dtype=np.float)

C:\Users\golam\AppData\Local\Temp\ipykernel_55996\3813404062.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  np.empty(3, dtype=np.float)

array([0., 0., 0.])

In [53]:
# Creating Arrays with Properties of Other Arrays

def f(x):
    
     y = np.ones_like(x)
     # compute with x and y
    
     return y
    
"""
At the first line of the body of this function, a new array y is created using np.ones_like, which results 
in an array of the same size and data type as x, and filled with ones.

"""

'\nAt the first line of the body of this function, a new array y is created using np.ones_like, which results \nin an array of the same size and data type as x, and filled with ones.\n\n'

In [54]:
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [55]:
 np.eye(3, k=1)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [56]:
 np.eye(3, k=-1)

array([[0., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [145]:
 np.diag(np.arange(0, 20, 5))

array([[ 0,  0,  0,  0],
       [ 0,  5,  0,  0],
       [ 0,  0, 10,  0],
       [ 0,  0,  0, 15]])

# 3. Indexing and Slicing

In [58]:
"""
a[m] Select element at index m, where m is an integer (start counting form 0).
a[-m] Select the mth element from the end of the list, where m is an integer. The last 
element in the list is addressed as -1, the second-to-last element as -2, and so on.
a[m:n] Select elements with index starting at m and ending at n −1 (m and n are integers).
a[:] or a[0:-1] Select all elements in the given axis.
a[:n] Select elements starting with index 0 and going up to index n −1 (integer).
a[m:] or a[m:-1] Select elements starting with index m (integer) and going up to the last element in 
the array.
a[m:n:p] Select elements with index m through n (exclusive), with increment p.
a[::-1] Select all the elements, in reverse order

"""

'\na[m] Select element at index m, where m is an integer (start counting form 0).\na[-m] Select the mth element from the end of the list, where m is an integer. The last \nelement in the list is addressed as -1, the second-to-last element as -2, and so on.\na[m:n] Select elements with index starting at m and ending at n −1 (m and n are integers).\na[:] or a[0:-1] Select all elements in the given axis.\na[:n] Select elements starting with index 0 and going up to index n −1 (integer).\na[m:] or a[m:-1] Select elements starting with index m (integer) and going up to the last element in \nthe array.\na[m:n:p] Select elements with index m through n (exclusive), with increment p.\na[::-1] Select all the elements, in reverse order\n\n'

In [60]:
A = np.arange(10)
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
B = A[A > 5]
B

array([6, 7, 8, 9])

In [63]:
B[0] = -1 # this does not affect A
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [64]:
B

array([-1,  7,  8,  9])

In [66]:
A[A > 5] = -1
A

array([ 0,  1,  2,  3,  4,  5, -1, -1, -1, -1])

In [67]:
# Reshaping and Resizing

In [68]:
data = np.array([[1, 2], [3, 4]])

In [69]:
np.reshape(data, (1, 4))

array([[1, 2, 3, 4]])

In [71]:
data.reshape(4)

array([1, 2, 3, 4])

In [72]:
# Multidimensional Arrays

In [74]:
f = lambda m, n: n + 10 * m
A = np.fromfunction(f, (6, 6), dtype=int)
A

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [75]:
A.shape

(6, 6)

In [76]:
A.ndim

2

In [77]:
A.size

36

In [78]:
 A[:, 1] # the second column

array([ 1, 11, 21, 31, 41, 51])

In [79]:
 A[1, :] # the second row

array([10, 11, 12, 13, 14, 15])

In [80]:
A[:3, :3] # upper half diagonal block matrix

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22]])

In [81]:
A[3:, :3] # lower left off-diagonal block matrix

array([[30, 31, 32],
       [40, 41, 42],
       [50, 51, 52]])

In [82]:
 A[::2, ::2] # every second element starting from 0, 0

array([[ 0,  2,  4],
       [20, 22, 24],
       [40, 42, 44]])

In [83]:
A[1::2, 1::3] # every second and third element starting from 1, 1

array([[11, 14],
       [31, 34],
       [51, 54]])

In [109]:
# View and Copy while slicing

In [110]:
f = lambda m, n: n + 10 * m
A = np.fromfunction(f, (6, 6), dtype=int)
A

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [113]:
B = A[1:5, 1:5]
B

array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34],
       [41, 42, 43, 44]])

In [112]:
A

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [114]:
 B[:, :] = 0 # Changing B changes A
 B

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [116]:

"""
Here, assigning new values to the elements in an array B, which is created from the array A, also 
modifies the values in A (since both arrays refer to the same data in the memory). The fact that extracting 
subarrays results in views rather than new independent arrays eliminates the need for copying data and 
improves performance. When a copy rather than a view is needed, the view can be copied explicitly by using 
the copy method of the ndarray instance
"""
A # A is changed as B has been changed

array([[ 0,  1,  2,  3,  4,  5],
       [10,  0,  0,  0,  0, 15],
       [20,  0,  0,  0,  0, 25],
       [30,  0,  0,  0,  0, 35],
       [40,  0,  0,  0,  0, 45],
       [50, 51, 52, 53, 54, 55]])

In [117]:
# copy

In [118]:
C = B[1:3, 1:3].copy()

In [119]:
C

array([[0, 0],
       [0, 0]])

In [120]:
C[:, :] = 1 # this does not affect B since C is a copy of the view B[1:3, 1:3]

In [121]:
C

array([[1, 1],
       [1, 1]])

In [122]:
"""
In addition to the copy attribute of the ndarray class, an array can also be copied using the function 
np.copy, or, equivalently, using the np.array function with the keyword argument copy=True
"""

B

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [105]:
A = np.linspace(0, 1, 11) 
A[np.array([0, 2, 4])]

array([0. , 0.2, 0.4])

In [106]:
 A[[0, 2, 4]] # The same thing can be accomplished by indexing with a Python list

array([0. , 0.2, 0.4])

In [107]:
 A > 0.5

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True])

In [108]:
A[A > 0.5]

array([0.6, 0.7, 0.8, 0.9, 1. ])

In [123]:
# Fancy Indexing and Boolean-valued Indexin

In [130]:
A = np.linspace(0, 1, 11)
A

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [131]:
A[np.array([0, 2, 4])]

array([0. , 0.2, 0.4])

In [132]:
A[[0, 2, 4]] # The same thing can be accomplished by indexing with a Python list

array([0. , 0.2, 0.4])

In [133]:
 A > 0.5

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True])

In [134]:
 A[A > 0.5]

array([0.6, 0.7, 0.8, 0.9, 1. ])

In [136]:
A = np.arange(10)
A

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [141]:
indices = [2, 4, 6]
B = A[indices]
print("Inital value of B", B)
B[0] = -1 # this does not affect A
print("Final value of B : ", B)
A

Inital value of B [2 4 6]
Final value of B :  [-1  4  6]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [142]:
A[indices] = -1
A # now A is changed

array([ 0,  1, -1,  3, -1,  5, -1,  7,  8,  9])

In [143]:
A = np.arange(10)
print("A:", A)
B = A[A > 5]
B[0] = -1 # this does not affect A
A

A: [0 1 2 3 4 5 6 7 8 9]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# Reshaping and Resizing

In [146]:
# Broadcasting

In [147]:
import numpy as np
# Let's create an array using arange()
array_1d = np.arange(0, 10)
print("Original Array : ", array_1d)
array_1d[0:5] = 500
print("After Broadcasting : ", array_1d)

Original Array :  [0 1 2 3 4 5 6 7 8 9]
After Broadcasting :  [500 500 500 500 500   5   6   7   8   9]

In [148]:
import numpy as np
# Lets create a 2D martix with ones
array_2d = np.ones((4, 4))

print("2D Array")
print(array_2d)

# Lets broadcast 300 to the first row of array_2d
array_2d[0] = 300
print("\n After Broadcasting")
print(array_2d)

2D Array
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

 After Broadcasting
[[300. 300. 300. 300.]
 [  1.   1.   1.   1.]
 [  1.   1.   1.   1.]
 [  1.   1.   1.   1.]]